{% extends "base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Paneles_style.css'%}">
{% endblock %}
{% block title %}Diseño de Paneles{% endblock %}
{% block content %}
    <div id ="General">
        <form action="/Paneles_resp/" method="GET" id = "Paneles_Form">
        <br>
        <div id = "L">
        <div id = "L1" class = "fullheight">
            <br>
            <div id = "grafico" >
                <div id = "grafico_panel">
                </div>
            </div>
        </div>
        </div>
        <div id = "R">
            <br>
            <div id = "R1" style="text-align: center;" class = "divinspector">
                <br>

                <table class = "inspector">
                    <tr>
                        <th><p>Tipo de panel</p></th>
                        <td>
                            <select id = "tipo" name = "tipo" type="select">
                                <option value = ""></option>
                                <option value = "Perforado">Perforado</option>
                                <option value = "Difragmático">Difragmático</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><p>Frecuencia</p></td>
                        <td><p><input id = "f" class = "input" name = "f" type = "number" step = "1"/><span style="margin-left:1%;">hz</span></p></td>
                    </tr>
                    <tr>
                        <th><p>Factor Q</p></th>
                        <td><input id = "q" class = "input" name = "q" type= "number" step = "0.01" value = "4.33"/></td>
                    </tr>
                    
                    
                </table>
                <input id="slider" type="range" min="0" max="100" value="50" step = "0.01" oninput="slide()">
                    <br>
                    <label id="label" ></label>
                    <br>
            </div>
           
            <div id = "R3">
                <div id = "R3_D" class = "divinspector">
                    <br>
                    
                    <table class = "inspector">

                        <tr>
                            <th>Base</th>
                            <td><input id = "db" class = "input" name = "db" type="number" step="0.01"/><span style="margin-left:1%;">cm</span></td>
                        </tr>
                        <tr>
                            <th>Altura</th>
                            <td><input id = "dh" class = "input" name = "dh" type="number" step="0.01"/><span style="margin-left:1%;">cm</span></td>
                        </tr>
                        <tr>
                            <th>Masa</th>
                            <td><input id = "dm" class = "input" name = "dm" type="number" step="0.01"/><span style="margin-left:1%;">Kg</span></td>
                        </tr>
                    </table>
                    <br>
                </div>

                <div id = "R2_P" class = "divinspector">
                    <br>
                    <table class = "inspector">
                        <tr>
                            <th>Base</th>
                            <td><input id = "pb" class = "input" name = "pb" type="number" step="0.01"/><span style="margin-left:1%;">cm</span></td>
                        </tr>
                        <tr>
                            <th>Altura</th>
                            <td><input id = "ph" class = "input" name = "ph" type="number" step="0.01"/><span style="margin-left:1%;">cm</span></td>
                        </tr>
                        <tr>
                            <th>Grosor</th>
                            <td><input id = "pg" class = "input" name = "pg" type="number" step="0.01"/><span style="margin-left:1%;">cm</span></td>
                        </tr>
                        <tr>
                            <th>Diametro</th>
                            <td>
                                <select id = "pd" name = "pd" type="select">
                                    <option value = "0.125">1/8 in</option>
                                    <option value = "0.25">1/4 in</option>
                                    <option value = "0.375">3/8 in</option>
                                    <option value = "0.5">1/2 in</option>
                                    <option value = "0.625">5/8 in</option>
                                    <option value = "0.75">3/4 in</option>
                                    <option value = "0.875">7/8 in</option>
                                    <option value = "1">1 in</option>
                                    <option value = "2">2 in</option>
                                    <option value = "4">4 in</option>
                                    <option value = "8">8 in</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Porcentaje de perforación</th>
                            <td><input id = "pp" class = "input" name = "pp" type="number" step="0.01"/><span style="margin-left:1%;">%</span></td>
                        </tr>
                    </table>
                    <br>
                </div>
                <input id = "Calcular" class = "boton" value = "Calcular" type="submit"/>
            </form>

            <div id = "R2_D" class = "divinspector">
                <br>
                <table class = "inspector">
                    <tr>
                        <th>Densidad superficial</th>
                        <td id ="td_dd"></td>
                    </tr>
                    <tr>
                        <th>Espacio de Aire</th>
                        <td id = "td_de"></td>
                    </tr>
                </table>
                <br>
            </div>

                <div id = "R3_P" class = "divinspector">
                    <br>
                    <table class = "inspector">
                        <tr>
                            <th>Número de orificios</th>
                            <td id ="td_pn"></td>
                        </tr>
                        <tr>
                            <th>Orificios base</th>
                            <td id ="td_pnb"></td>
                        </tr>
                        <tr>
                            <th>Orificios altura</th>
                            <td id ="td_pnh"></td>
                        </tr>
                        <tr>
                            <th>Separación entre orificios</th>
                            <td id = "td_ps"></td>
                        </tr>
                        <tr>
                            <th>Borde de base</th>
                            <td id = "td_bordebase"></td>
                        </tr>
                        <tr>
                            <th>Borde de altura</th>
                            <td id = "td_bordealtura"></td>
                        </tr>
                        <tr>
                            <th>Espacio de aire</th>
                            <td id = "td_pe"></td>
                        </tr>
                    </table>
                    <br>
                </div>

                <div id = "R4" class = "divinspector">
                <br>
                <table class = "inspector">
                    <tr>
                        <th>Ancho de Banda</th>
                        <td id = "td_bw"></td>
                    </tr>
                    <tr>
                        <th>Frecuencia Superior</th>
                        <td id = "td_fh"></td>
                    </tr>
                    <tr>
                        <th>Frecuencia Inferior</th>
                        <td id = "td_fl"></td>
                    </tr>
                    <tr>
                        <th>RT60</th>
                        <td id = "td_RT60"></td>
                    </tr>
                </table>
                <br>
            </div>
                
            </div>

        </div>
    </div>
{% endblock %}

